/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "animations.css";

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-overflow-scrolling: touch;
    margin: 0;
}

html, body,
#momo-main,
.momo-page,
.momo-loading {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
/*    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
/*    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
/*    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:14px;
    margin:0px;
    padding:0px;
    padding-top: 60px;
    width:100%;
    background: url("../img/greyzz.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* Portrait layout (default) */
#momo-main {
    display: table;
}

.momo-loading {
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    padding-bottom: 60px;
}

.momo-page {
    background: url("../img/greyzz.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}
.momo-page-wrapper,
.momo-frame-wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.momo-frame-wrapper {
    height: 100% !important;
}
.momo-page-wrapper:after {
    content: " ";
    display: block;
}
.momo-footer,
.momo-page-wrapper:after {
    height: 60px;
}
.momo-footer {
    position: relative;
    z-index: 999;
}
.momo-subnavbar {
    margin-top: 1px;
    margin-bottom: 0px;
    border: 0px;
}
.momo-container {
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    position: absolute;
    overflow: hidden;
}
.momo-page-content {
    padding: 20px 0;
}
.momo-page-content > :last-child,
.momo-page-title {
    margin-bottom: 0;
}
.momo-page-content:empty {
    padding: 0;
}
.momo-page iframe {
    width: 100%;
    border: 0;
    min-height: 80%;
    z-index: 1;
    position: relative;
}
.momo-page-pages {
    border-radius: 0px;
}
.momo-page-pages .list-group-item {
    border-radius: 0px;
}

.momo-pages {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.momo-page {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    display: none;
    overflow: auto;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.momo-page-current,
.no-js .pt-page {
    visibility: visible;
    display: block;
}

.no-js body {
    overflow: auto;
}

.momo-page-ontop {
    z-index: 999;
}
.navbar .col-xs-8 {
    display: table;
}
.navbar .col-xs-8 .navbar-brand {
    padding: 10px 15px;
    float: none;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    line-height: 18px;
}

.navbar .col-xs-2.navbar-btn {
    padding: 0 7px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
